.experience{
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1200px;
    margin: auto;
}

.sub-title {
    color: #E0E0E0;
}

.experience-text {
    font-size: 1.5rem;
    line-height: 1.33;
    margin-bottom: 60px;
    max-width: 40ch;
    color: #525252;
}