.profile {
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
    gap: 100px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
}


.about h1{
    font-size: 4.5rem;
    line-height: 1.125;
    margin-top: 30px;
    position: relative;
}

.about h1::before {
    content: "";
    display: block;
    width: 130px;
    height: 100px;
    background: url("../images/detalhe.svg") no-repeat center;
    position: absolute;
    top: -15px;
    left: -40px;
    z-index: -1;
}

.about p {
    font-size: 1.5rem;
    margin-top: 40px;
    grid-row: 2;
    color: rgb(112, 102, 102);
}


/*RESPONSIVO*/

@media (max-width: 1000px) {
    .profile h1 {
    font-size: 3rem;
    }
}

@media (max-width: 800px) {
    .profile {
      grid-template-columns: 1fr 1fr;
      gap: 40px;
    }
    .profile h1 {
      font-size: 2rem;
    }
    .profile h1::before {
      width: 30px;
      height: 10px;
      left: 0px;
    }
  }

  
@media (max-width: 400px) {
    .profile {
      grid-template-columns: 1fr;
    }
    .profile img {
      display: none;
    }
  }